{%- comment -%}
  Enhanced Footer Contact Info Block
  Implements all contact info features/settings from footer.md
{%- endcomment -%}
<div class="footer-enhanced__contact">
  <h3 class="footer-enhanced__contact-title">{{ block.settings.title }}</h3>
  <div class="footer-enhanced__contact-text">{{ block.settings.info }}</div>
</div> 